<!DOCTYPE html>
{% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/drawingboard2.css' %}">
        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
    {% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'img/fav.png'%}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>手写数字</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
		<!--
		CSS
		============================================= -->

	</head>
	<body class="dup-body">
		<div class="dup-body-wrap">
			<!-- Start Header Area -->
			<header class="default-header">
				<div class="header-wrap">
					{% include 'head.html' %}
				</div>
			</header>
        </div>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
{#			<div class="overlay overlay-bg"></div>#}
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-between">
                    <table width="500" style="margin-top: -30px" border="0">
                        <tr>
                            <td style="width:500px;vertical-align:top;">

                                <div style="margin-left:100px;width:500px;height: 300px" >
                                    <div class="row">
                                        <canvas id="myCanvas" width="350" height="350" style="border:1px solid #d3d3d3;">
                    {#                    <canvas class="drawing-board-canvas" width="280" height="280" style="width: 280px; height: 280px;"></canvas>#}
                                        </canvas>
                                    </div>
                                    <table>
                                        <tr style="height:10px">

                                        </tr>
                                        <tr>
                                            <td>
                                                <button onclick="clearCanvas()" class="genric-btn info circle" style="padding:0 17px">清空</button>
                                            </td>
                                            <td>
                                               <a href="javascript:void(0);" class="genric-btn info circle" onclick="do_input()" style="padding:0 17px">读取图片</a>
                                            </td>
                                            <td>
                                                <button onclick="predict()" class="genric-btn info circle" style="padding:0 17px">识别</button>
                                            </td>
                                            <td>
                                                <button onclick="predict()" class="genric-btn info circle" style="padding:0 17px">加入训练集</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                        </tr>
                    </table>

					<div class="col-lg-5 col-md-5 col-sm-4" style="margin-right: 100px">
                        <a href="{% url 'model' %}" class="genric-btn info circle">开发者模式</a>
                        <h3 id="mnist_result">识别结果:3</h3>
					</div>
{#                    <div class="col-lg-5 col-md-5 col-sm-4"></div>#}

				</div>
			</div>
		</section>

	</body>
</html>
<script>
    var c=document.getElementById("myCanvas");
    var ctx=c.getContext("2d");

    var paint = false;
    ctx.strokeStyle="#000000";
    ctx.lineWidth = 10;
    ctx.borderRadius = 200;
    var y_adjust = 220;
    var x_adjust = 100;
    var current_x = 0;
    var current_y = 0;
    var x_list = [];
    var y_list = [];

    c.onmousedown = function(e){
        paint = !paint;
        current_x = e.pageX-this.offsetLeft-x_adjust;
        current_y = e.pageY-this.offsetTop-y_adjust;
        ctx.moveTo(current_x,current_y);
        x_list.push(current_x);
        y_list.push(current_y);
        console.log(current_x, current_y);
    };

    c.onmousemove = function(e){
        if(paint){
            current_x = e.pageX-this.offsetLeft-x_adjust;
            current_y = e.pageY-this.offsetTop-y_adjust;
            ctx.lineTo(current_x,current_y);
            x_list.push(current_x);
            y_list.push(current_y);
            ctx.stroke();
        }
    };

    c.onmouseup = function(e){
        paint = !paint;
    };

    function do_input() {
        var inputObj = document.createElement('input');
        inputObj.addEventListener('change',readFile,false);
        inputObj.type='file';
        inputObj.accept = 'image/*';
        inputObj.id = "input_btn";
        inputObj.click();
    }

    function readFile() {
        var file = this.files[0];
        {#print(file);#}
        if (!/image\/\w+/.test(file.type)) {
            alert("Error type of file: Must be image.");
            return false;
        }
        {#alert(file);#}
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            draw_to_canvas(this.result);
        }
    }

    function draw_to_canvas(imgData){
        var cvs = document.getElementById("myCanvas");
        var cvs_ctx = cvs.getContext('2d');
        var img = new Image;
            img.src = imgData;
            img.onload = function()
            {
                cvs_ctx.drawImage(img,0,0,cvs.width,cvs.height);
                strDataURI = cvs.toDataURL();
				{#alert("hahahah")#}
                {#alert(strDataURI);
            }
    }

    function clearCanvas() {
        ctx.beginPath();
        x_list = [];
        y_list = [];
        ctx.clearRect(0, 0, c.width, c.height);
    }
    function predict() {

        alert("1111");
        alert(x_list);
        alert(y_list);

        $.get('/api/mnist',{"mnist_x": x_list, "mnist_y": y_list},function (data) {
            $('#mnist_result').text('识别结果:'+data["res"]);
        });
    }
</script>