<!DOCTYPE html>
{% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/drawingboard2.css' %}">
        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
    {% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'img/fav.png'%}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>手写数字</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">

	</head>
	<body class="dup-body">
        <div class="dup-body-wrap">
        <!-- Start Header Area -->
            <header class="default-header">
				<div class="header-wrap">
					{% include 'head.html' %}
				</div>
			</header>
        <!-- End Header Area -->

        <!-- Start Skill Area -->
            <section class="section-gap skill-area" {# style="background: url({% static 'img/mnist背景.jpg' %});"#}>
                <div class="row" style="width: 101%">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2" style="text-align: right">
                            <a href="{% url 'model' %}" class="genric-btn info circle">开发模式</a>
                        </div>
                </div>
                <div class="container" >

                    <br>
				    <div class="row">
                        <div class="col-lg-5" style="margin-top: 2px">
                            <h3>说明</h3>
                            <h4>①手写模式</h4>
                            <p>    在右边的方框中点击并拖动鼠标，可以进行手写，手写完毕后，单击识别，可以获得识别得到的结果</p>
                            <h4>②读图模式</h4>
                            <p>    点击上传图像，选择本地文件并上传，本地文件将加载在手写框中，单击识别，可以获得识别得到的结果</p>
                            <h4>③开发者模式</h4>
                            <p>    点击开发者模式，可以浏览整个网络的架构并对参数进行修改，也可以获得训练过程中的参数变化曲线</p>
                            <h4>④加入训练集</h4>
                            <p>    识别完毕后，点击加入训练集，可以将当前的图像加入训练集，在下次训练的时候将把本图一并作为训练时的数据输入</p>
                            <h4>⑤清空按钮</h4>
                            <p>    如果需要进行其他图像的识别，请点击清空按钮清除当前画板上的输入</p>
                        </div>
                        <div class="col-lg-7" style="margin: auto">
                            <table width="600" style="border:0">
                            <tr>
                            <td style="width:600px;vertical-align:top;">
                                <div style="width:600px;height: 600px;margin: auto" >
                                    <h3 style="text-align: center">请在下方写入/上传数字</h3>
                                    <div class="row" style="margin: auto;width: 400px">
                                        <canvas id="myCanvas" width="400" height="400" style="border:1px solid #d3d3d3;">
                                            <canvas class="drawing-board-canvas" width="280" height="280" style="width: 280px; height: 280px;"></canvas>
                                        </canvas>
                                    </div>
                                    <div class="row" style="margin-top: 20px;width: 430px;margin: auto;margin-top: 20px">
                                        <div class="col-lg-4" style="text-align: left">
                                            <a href="javascript:void(0);" class="genric-btn info circle" onclick="do_input()" style="padding:0 17px">上传图片</a>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-3"style="text-align: right">
                                                <button onclick="clearCanvas()" class="genric-btn info circle" style="padding:0 17px">清空</button>
                                        </div>
                                        <div class="col-lg-3"style="text-align: right">
                                                <button onclick="predict()" class="genric-btn success circle" style="height:42px;padding:0 17px">识别</button>
                                        </div>
                                    </div>
                                    <div class="row" id="result_add" style="display: none;margin: auto;width: 430px;margin-top: 20px">
                                        <div class="col-lg-4"style="margin:auto;">
                                              <h4>识别结果：</h4>
                                        </div>
                                        <div class="col-lg-2" style="margin: auto;">
                                            <h4 id="mnist_result"></h4>
                                        </div>
                                        <div class="col-lg-6" style="text-align: right">
                                            <button onclick="addData()" class="genric-btn info circle" style="padding:0 17px">加入训练集</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            </tr>
                        </table>
                        </div>
				    </div>
                </div>
            </section>
        </div>
	</body>
</html>
<script>
    var c=document.getElementById("myCanvas");
    var ctx=c.getContext("2d");

    var paint = false;
    ctx.strokeStyle="#000000";
    ctx.lineWidth = 40;
    ctx.borderRadius = 2000;
    ctx.fillStyle="white";
    ctx.fillRect(0, 0, c.width, c.height);
    var y_adjust = 170;
    var x_adjust = 600;
    var current_x = 0;
    var current_y = 0;
    var predict_result = 0;

    c.onmousedown = function(e){
        paint = !paint;
        current_x = e.pageX-this.offsetLeft-x_adjust;
        current_y = e.pageY-this.offsetTop-y_adjust;
        ctx.moveTo(current_x,current_y);
        console.log(current_x, current_y);
    };

    c.onmousemove = function(e){
        if(paint){
            current_x = e.pageX-this.offsetLeft-x_adjust;
            current_y = e.pageY-this.offsetTop-y_adjust;
            ctx.lineTo(current_x,current_y);
            ctx.stroke();
        }
    };

    c.onmouseup = function(e){
        paint = !paint;
    };

    function do_input() {
        var inputObj = document.createElement('input');
        inputObj.addEventListener('change',readFile,false);
        inputObj.type='file';
        inputObj.accept = 'image/*';
        inputObj.id = "input_btn";
        inputObj.click();
    }

    function readFile() {
        var file = this.files[0];
        if (!/image\/\w+/.test(file.type)) {
            alert("Error type of file: Must be image.");
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            draw_to_canvas(this.result);
        }
    }

    function draw_to_canvas(imgData){
        var cvs = document.getElementById("myCanvas");
        var cvs_ctx = cvs.getContext('2d');
        var img = new Image;
            img.src = imgData;
            img.onload = function()
            {
                cvs_ctx.drawImage(img,0,0,cvs.width,cvs.height);
                strDataURI = cvs.toDataURL();
            }
    }

    function clearCanvas() {
        ctx.beginPath();
        ctx.clearRect(0, 0, c.width, c.height);
        ctx.fillStyle="white";
        ctx.fillRect(0, 0, c.width, c.height);
    }

    function predict() {
        console.log(ctx.getImageData(0, 0, c.width, c.height));
        var image = new Image();
        image.src = c.toDataURL("image/png");
        {#console.log(image.src);#}

        $.post('/api/mnist',{"image": image.src},function (data) {
            predict_result = data["res"];
            $('#mnist_result').text(data["res"]);
        });
        $('#result_add').css('display','');
    }
    function addData() {
        var person=prompt("请输入正确标签","" + predict_result);
    }
</script>