<!DOCTYPE html> {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'img/fav.png'%}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>模型调试</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
	<!--
		CSS
		============================================= -->

</head>

<body class="dup-body">
	<div class="dup-body-wrap">
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="header-wrap">
				<div class="header-top d-flex justify-content-between align-items-center">
					<div class="logo">
						<a href="{% url 'question' %}">
							<img src="static/img/logo.png" alt="">
						</a>
						<a href="javascript:void(0);" class="genric-btn success-border circle" onclick="change_style();return false;">反向模式</a>
					</div>
					<div class="main-menubar d-flex align-items-center">
						<nav>
							<a href="{% url 'question' %}">主页</a>
							<a href="{% url 'question' %}">选题</a>
							<a href="{% url 'rank' %}">排名</a>
						</nav>
						<div>登录</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Area -->

		<!-- Start Skill Area -->
		<section class="section-gap skill-area" style="height: 150%">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7" id="left">
						<div class="skill-content">
							<h2>模型可视化效果图</h2>
							<div class="single-gallery-image" style="background: url({% static 'img/net.png' %}); height: 300px"></div>

							<br>
							<br>
							<div class="row">
								<div class="col-lg-6">
									<h3>Accuracy</h3>
									<div class="single-gallery-image" style="background: url({% static 'img/g1.jpg' %}); height: 300px"></div>
									</a>
								</div>

								<div class="col-lg-6">
									<h3>Loss</h3>
									<div class="single-gallery-image" style="background: url({% static 'img/g2.jpg' %}); height: 300px"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5" id="right">
						<div class="total-progress-bar" id="model_list">
							<div class="row">
								<div class="col-lg-8">
									<h2>网络参数</h2>
								</div>
								<div class="col-lg-3" style="margin-left: 5px">
									<a href="javascript:void(0);" class="genric-btn success-border circle" onclick="add_model();return false;">+</a>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6"></div>
								<div class="col-lg-6"></div>
							</div>
							<br>
							<br>
							<hr style=" height:2px;border:none;border-top:2px solid #40a9ff;" />
							<div class="row"  style="margin-bottom: 10px">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">网络类型</h6>
								</div>
								<div class="col-lg-5" style="margin-left: 8px">
									<div class="default-select">
										<select>
											<option value="1">全连接层</option>
											<option value="1">卷积层</option>
											<option value="1">池化层</option>
										</select>
									</div>
								</div>
                                <div class="col-lg-3">
									<a href="javascript:void(0);" class="genric-btn danger-border circle">-</a>
								</div>
							</div>
							<div class="row" style="margin-bottom: 10px">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">激活函数</h6>
								</div>
								<div class="col-lg-6" style="margin-left: 8px">
									<div class="default-select">
										<select>
											<option value="1">relu</option>
											<option value="1">sigmoid</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5">
									<div class="switch-wrap d-flex justify-content-between">
										<h6 style="margin-top: 10px">使用Dropout</h6>
										<div class="confirm-switch" style="margin-top: 10px;margin-left: 20px">
											<input type="checkbox" id="confirm-switch" checked>
											<label for="confirm-switch"></label>
										</div>
									</div>
								</div>
								<div class="col-lg-6" style="margin-left: 20px">
									<div class="mt-6">
										<input type="text" name="Dropout参数" placeholder="Dropout参数" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Dropout参数'"
										 required class="single-input">
									</div>
								</div>
							</div>
                            <hr style=" height:2px;border:none;border-top:2px solid #40a9ff;" />
							<div class="row"  style="margin-bottom: 10px">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">网络类型</h6>
								</div>
								<div class="col-lg-5" style="margin-left: 8px">
									<div class="default-select">
										<select>
											<option value="1">全连接层</option>
											<option value="1">卷积层</option>
											<option value="1">池化层</option>
										</select>
									</div>
								</div>
                                <div class="col-lg-3">
									<a href="javascript:void(0);" class="genric-btn danger-border circle">-</a>
								</div>
							</div>
							<div class="row" style="margin-bottom: 10px">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">激活函数</h6>
								</div>
								<div class="col-lg-6" style="margin-left: 8px">
									<div class="default-select">
										<select>
											<option value="1">relu</option>
											<option value="1">sigmoid</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5">
									<div class="switch-wrap d-flex justify-content-between">
										<h6 style="margin-top: 10px">使用Dropout</h6>
										<div class="confirm-switch" style="margin-top: 10px;margin-left: 20px">
											<input type="checkbox" id="confirm-switch" checked>
											<label for="confirm-switch"></label>
										</div>
									</div>
								</div>
								<div class="col-lg-6" style="margin-left: 20px">
									<div class="mt-6">
										<input type="text" name="Dropout参数" placeholder="Dropout参数" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Dropout参数'"
										 required class="single-input">
									</div>
								</div>
							</div>
                            <hr style=" height:2px;border:none;border-top:2px solid #40a9ff;" />
							<div class="row"  style="margin-bottom: 10px">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">网络类型</h6>
								</div>
								<div class="col-lg-5" style="margin-left: 8px">
									<div class="default-select">
										<select>
											<option value="1">全连接层</option>
											<option value="1">卷积层</option>
											<option value="1">池化层</option>
										</select>
									</div>
								</div>
                                <div class="col-lg-3">
									<a href="javascript:void(0);" class="genric-btn danger-border circle">-</a>
								</div>
							</div>
							<div class="row" style="margin-bottom: 10px">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">激活函数</h6>
								</div>
								<div class="col-lg-6" style="margin-left: 8px">
									<div class="default-select">
										<select>
											<option value="1">relu</option>
											<option value="1">sigmoid</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5">
									<div class="switch-wrap d-flex justify-content-between">
										<h6 style="margin-top: 10px">使用Dropout</h6>
										<div class="confirm-switch" style="margin-top: 10px;margin-left: 20px">
											<input type="checkbox" id="confirm-switch" checked>
											<label for="confirm-switch"></label>
										</div>
									</div>
								</div>
								<div class="col-lg-6" style="margin-left: 20px">
									<div class="mt-6">
										<input type="text" name="Dropout参数" placeholder="Dropout参数" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Dropout参数'"
										 required class="single-input">
									</div>
								</div>
							</div>

							<div class="row" style="margin-top: 20px">
                                <div class="col-md-5" style="height: 50px">
                                    <a href="javascript:;" class="genric-btn success circle arrow">运行
									<span class="lnr lnr-arrow-right"></span></a>
                                </div>
								 <div class="col-lg-4" style="height: 50px">
                                    <a href="javascript:;" class="genric-btn info circle arrow">提交
                                        <span class="lnr lnr-arrow-right"></span>
                                    </a>
                                 </div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		 crossorigin="anonymous"></script>
</body>

</html>
<script type="text/html" id="tr-template">
<div class="row">
							<div class="row">
								<div class="col-lg-6"></div>
								<div class="col-lg-6"></div>
							</div>
							<br>
							<br>
							<hr style=" height:2px;border:none;border-top:2px solid #40a9ff;" />
							<div class="row">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">网络类型</h6>
								</div>
								<div class="col-lg-6">
									<div class="default-select">
										<select>
											<option value="1">全连接层</option>
											<option value="1">卷积层</option>
											<option value="1">池化层</option>
										</select>
									</div>
								</div>
							</div>
                            <br><br><br>
							<div class="row">
								<div class="col-lg-3">
									<h6 style="margin-top: 10px">激活函数</h6>
								</div>
								<div class="col-lg-6">
									<div class="default-select">
										<select>
											<option value="1">relu</option>
											<option value="1">sigmoid</option>
										</select>
									</div>
								</div>
							</div>
                            <br>
							<div class="row">
								<div class="col-lg-6">
									<div class="switch-wrap d-flex justify-content-between">
										<h6 style="margin-top: 10px">使用Dropout</h6>
										<div class="confirm-switch" style="margin-top: 10px">
											<input type="checkbox" id="confirm-switch" checked>
											<label for="confirm-switch"></label>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="mt-6">
										<input type="text" name="Dropout参数" placeholder="Dropout参数" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Dropout参数'"
										 required class="single-input">
									</div>
								</div>
							</div>
</script>
<script>

	function add_model() {
		html = $('#tr-template').html();
		$('#pred').prepend(html);
	}
	function change_style() {
		left = $('#left').html();
		right = $('#right').html();
		left_style=$('#left').attr('class');
		right_style=$('#right').attr('class');
		//alert(right_style);
		$('#left').attr('class',right_style);
		$('#right').attr('class',left_style);
		$('#left').html(right);
		$('#right').html(left);

	}
</script>