<!DOCTYPE html>
{% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
    {% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'img/fav.png'%}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>选题</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
		<!--
		CSS
		============================================= -->

	</head>
	<body class="dup-body">
		<div class="dup-body-wrap">
			<!-- Start Header Area -->
			<header class="default-header">
				<div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
{#                            <a href="javascript:void(0);" class="genric-btn success-border circle" onclick="change_style();return false;">反向模式</a>#}
                        </div>
                        <div class="main-menubar d-flex align-items-center">
                            <div><a href="{% url 'login' %}">退出</a></div>
                        </div>
				    </div>
                </div>
			</header>

        <div class="white-bg">
{#            <div class="container">#}
                <div class="section-top-border">
                    <div class="row">
                        <div class="section-top-border"  style="margin-left: 8%;margin-right: 8%">
					        <h3 class="mb-30" style="font-size: 35px;text-align: center;margin-top: -2%">题目选择</h3>
					        <div class="row" style="float:left;width:48%;border:1px solid #000;">
                                <div class="col-md-3" style="display: flex;justify-content: center;padding: 0;">
							        <a href="javascript:" onclick="alert('该题目尚未开启！')"><img src="{% static 'img/决策树.jpg' %}" style="width:100%;height:124px;" alt="实验一图片" class="img-fluid"></a>
						        </div>
                                <div class="col-md-9 mt-sm-20" style="background: #bae7ff;">
                                    <div style="padding-top: 5px;margin-bottom: -5px">
							        <p style="color: black;font-size: 15px"> <b style="color: black;font-size: 25px;">决策树实验</b><br>实验说明：根据现实生活中的原型自己创建一个简单的决策树；要求用这个决策树能解决实际分类决策问题</p>
						            </div>
                                </div>
					        </div>

                            <div class="row" style="float:left;position: relative;margin-left: 4%;margin-bottom: 30px;width:48%;border:1px solid #000">
                                <div class="col-md-3" style="display: flex;justify-content: center;padding: 0">
                                    <a href="javascript:" onclick="alert('该题目尚未开启！')"><img src="{% static 'img/人脸识别.jpg' %}" style="width:100%;height:124px;"  alt="实验二图片" class="img-fluid"></a>
                                </div>
                                <div class="col-md-9 mt-sm-20" style="background: #bae7ff">
                                    <div style="padding-top: 5px;margin-bottom: -5px">
                                        <p style="color: black;font-size: 15px"><b style="color: black;font-size: 25px;">人脸识别实验</b><br> 实验说明：在人脸库中有15个人，每人有11幅图像。要求选定每个人的若干图像组成样本库，由它得到特征库，再任取图像库的一张图片，识别他的身份</p>
                                    </div>
                                </div>
                            </div>

					        <div class="row" style="float:left;width:48%;border:1px solid #000;">
                                <div class="col-md-3" style="display: flex;justify-content: center;padding: 0;">
                                    <a  href="{% url 'mnist' %}"><img src="{% static 'img/手写识别.jpg' %}" style="width:100%;height:124px;" alt="实验三图片" class="img-fluid"></a>
                                </div>
                                <div class="col-md-9 mt-sm-20" style="background: #bae7ff">
                                    <div style="padding-top: 5px;margin-bottom: -5px">
                                        <p style="color: black;font-size: 15px"> <b style="color: black;font-size: 25px;">手写识别实验</b><br>实验说明：理解BP神经网络的结构和原理，掌握反向传播学习算法对神经元的训练过程。构建BP网络识别实例，实现对手写数字的识别</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="float:left;position: relative;margin-left: 4%;margin-bottom: 30px;width:48%;border:1px solid #000">
                                <div class="col-md-3" style="display: flex;justify-content: center;padding: 0">
                                    <a href="javascript:" onclick="alert('该题目尚未开启！')"><img src="{% static 'img/房价预测.jpg' %}"style="width:100%;height:124px;"  alt="实验二图片" class="img-fluid"></a>
                                </div>
                                <div class="col-md-9 mt-sm-20" style="background: #bae7ff">
                                    <div style="padding-top: 5px;margin-bottom: -5px">
                                        <p style="color: black;font-size: 15px"><b style="color: black;font-size: 25px;">房价预测实验</b><br> 实验说明：实验数据集中共包含1460条房屋信息，包括房屋售价、区域分类、公共设施类型等，其中一些数据信息为空值，需要进行缺失值处理。请根据以成交的房屋信息，预测其余房屋的价格</p>
                                    </div>
                                </div>
                            </div>

					        <div class="row" style="float:left;width:48%;border:1px solid #000;">
                                <div class="col-md-3" style="display: flex;justify-content: center;padding: 0;">
                                    <a  href="javascript:" onclick="alert('该题目尚未开启！')"><img src="{% static 'img/情感分析.jpg' %}" style="width:100%;height:124px;" alt="实验三图片" class="img-fluid"></a>
                                </div>
                                <div class="col-md-9 mt-sm-20" style="background: #bae7ff">
                                    <div style="padding-top: 5px;margin-bottom: -5px">
                                        <p style="color: black;font-size: 15px"> <b style="color: black;font-size: 25px;">情感分析实验</b><br>实验说明：现有75000条电影评论，类别分别为正面评论和负面评论。现要求对这些影评提取特征，获得一个情感分类器，并测试5000条评论，验证分类器性能</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="float:left;position: relative;margin-left: 4%;margin-bottom: 0px;width:48%;border:1px solid #000">
                                <div class="col-md-3" style="display: flex;justify-content: center;padding: 0;">
                                    <a  href="javascript:" onclick="alert('该题目尚未开启！')"><img src="{% static 'img/大数据测试.jpg' %}" style="width:100%;height:124px;" alt="实验三图片" class="img-fluid"></a>
                                </div>
                                <div class="col-md-9 mt-sm-20" style="background: #bae7ff">
                                    <div style="padding-top: 5px;margin-bottom: -5px">
                                        <p style="color: black;font-size: 15px"> <b style="color: black;font-size: 25px;">大数据测试实验</b><br>实验说明：本次作业为垃圾邮件过滤，要求学生在Spark环境下，完成数据集的垃圾邮件标注</p>
                                    </div>
                                </div>
                            </div>
				        </div>
                    </div>
                </div>
{#            </div>#}
        </div>

		<!-- Strat Footer Area -->
		<!-- End Footer Area -->
		</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	</body>
</html>
